<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myoul.app">

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@drawable/myoul_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/apikey"/>
        <activity
            android:name="com.myoul.app.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.myoul.app.DeliveryActivity" />
        <activity android:name="com.myoul.app.ProfileActivity" />
        <activity android:name="com.myoul.app.HomeActivity" />
        <activity android:name="com.myoul.app.CreateActivity" />
        <activity android:name="com.myoul.app.SendActivity" />
        <activity android:name="com.myoul.app.SendMapActivity" />
    </application>

</manifest>